#!/bin/ksh
#
# GDC Buildkite CI agent.
# Iain Buclaw <ibuclaw@gdcproject.org>
#

daemon="/buildkite/bin/buildkite-agent start"
daemon_flags="--config /buildkite/buildkite-agent.cfg"
daemon_user="buildkite"

. /etc/rc.d/rc.subr

rc_start() {
        ${rcexec} "${daemon} ${daemon_flags} 2>&1 | logger -i -t ${daemon_user}" &
}

rc_cmd $1
